<h1>New bookmark in <%= @list.name %></h1>
<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.association :movie, prompt: "Choose a movie" %>
  <%= f.text_field :comment, placeholder: "Leave a comment about this movie" %>
  <%= f.submit "Create", class: "btn btn-primary" %>
<% end %>
